body{
    background-color: lightblue;
    position: fixed;
}
.tudo{
    width: 100%;
    height: 100%;
}
.apresentacao{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkolivegreen;
}
figure#graphic{
    align-content: center;
    text-align: center;
    
}
img#a{
    width: 30%;
    border-width: 10px;
    border-color: slategray;
    border-style: groove;
}
img{
    width: 80%;
}
.grid{
    padding-left: 12.75%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;    
}
.grid#um{
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid#dois{
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid#tres{
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid#quatro{
    grid-column-start: 4;
    grid-column-end: 5;
}
.pow{
    text-align: end;
    margin-top: 10%;
}